nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: brown;
  color: #fff;
}

.links {
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
a {
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
}

.login_btn {
  margin-top: 20px;
}

.container {
  display: flex;

  flex-wrap: wrap;
  padding: 100px 200px;
  gap: 30px;
}
label {
  margin-top: 10px;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.weather__btn {
  cursor: pointer;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: all 0.4s;
}

.weather__btn:hover {
  background-color: black;
  color: white;
}
